@charset "UTF-8";
/* This document should only be used to override Bootstrap styles */

html {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

body {
	background-color: #E1E1E1;
}

.justifiedText {
	text-align: justify;
}

.contactIcons {
	width: 10%;
}

#top {
	position: absolute;
	bottom: 1px;
}

#name, #intro {
	color: red;
	mix-blend-mode: difference;
	font-size: 10vw;
	transform: skew(-15deg);
}

#logo {
	color: #FFFFFF;
	font-weight: 900;
	font-size: 32px;
}

nav {
	line-height: 10px;
}

.sectionBacks {
	background-color: #191919;
}

.quoteBackground {
	background-color: #4D1A68;
}

#photography {
	background-color: #000000;
}

.overlayDIV {
	position: absolute;
  text-align: center;
	overflow: hidden;
	color: #FFFFFF;
	height: 100%;
  width: 100%;
	top: 35%;
	pointer-events: none; /*This prevents the text from interrupting the hover event on the image below*/
}
.actualImage {
	width: 70%;
}

.actualImage:hover {
	filter: brightness(20%);
	transition: all 0.2s ease-in-out 0s;
}

.myPhotos {
	width: 80%;
}

.bgColorNav {
	background-color: #000000;
}

.nav-item > a.nav-link.colorizeText:hover, #logo:hover {
	color: #FF0000;
}

.triangle {
	width: 0;
	height: 0;
	border-bottom: 750px solid red;
	border-right: 750px solid transparent;
	bottom: 0;
	position: fixed;
}

.biggerTriangle {
	width: 0;
	height: 0;
	border-bottom: 1750px solid red;
	border-right: 1750px solid transparent;
	bottom: 0;
	position: fixed;
	transition: 0.7s all;
}

#clickToTweet, #getNewQuote {
	position: absolute;
	bottom: 0;
	border-radius: 0px;
	overflow: hidden;
}

#clickToTweet {
	left: 0;
}

#getNewQuote {
	right: 0;
	padding: 10vw;
}

#quoteTitle {
	font-weight: 900;
	font-size: 32px;
}

.fa-quote-left, .fa-quote-right {
	font-size: 100px;
	padding: 10px;
}

.fa-sun, .fa-wikipedia-w {
	font-size: 100px;
	padding: 10px;
}

.weatherBackground {
	background-color: aquamarine;
}

.buttonBlue {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  border-radius: 0px;
}

.searchBox {
  width: 20vw;
	height: 40px;
	border-radius: 25px;
}

.searchForms {
  position: fixed;
  right: 0px;
	top: 1px;
	height: 10px;
}

#searchResults {
  position: absolute;
  width: 70vw;
  left: 20vw;
  top: 75px;
	padding: 0 10vw 0 10vw;
}

#searchResults p {
  text-align: left;
}

#searchResults a {
	text-decoration: none;
}
